# Build-Ordner ignorieren
bin/

# CMake & Make-Dateien ignorieren
CMakeFiles/
Makefile
cmake_install.cmake

# Automatisch generierte Dateien in Unterverzeichnissen
MQTTclient/CMakeFiles/
MQTTclient/Makefile
MQTTclient/cmake_install.cmake
MQTTclient/mqtt_client

ThingSpeakUploader/CMakeFiles/
ThingSpeakUploader/Makefile
ThingSpeakUploader/cmake_install.cmake
ThingSpeakUploader/thingspeak_uploader

Webserver/CMakeFiles/
Webserver/Makefile
Webserver/cmake_install.cmake
Webserver/webserver
